#A {
    background-color: rgb(252, 252, 252);
}
#B {
    background-color: rgb(255, 255, 255);
}
#C {
    background-color: rgb(197, 197, 197);
}
#D {
    background-color: rgb(168, 168, 168);
}
#Nome {
    font-size: 30px;
    color: white;
    text-align: center;
}